{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/home.css') }}">{% endblock %}
{% block title %}Accueil{% endblock %}
{% block javascripts %}<script src='https://kit.fontawesome.com/a076d05399.js'></script>{% endblock %}
{% block body %}
{{ include('partials/header.html.twig') }}

<div class="container-fluid" style="margin-top:320px">
  

{{ include('partials/footer.html.twig') }}
</div>
{% endblock %}
