<footer class="pt-4 my-md-5 pt-md-5 border-top container">
  <div class="row">
    <div class="col-12 col-md">
      <a href="{{ path('home')}}"><img class="mb-2" src="{{ asset('images/logo.jpg')}}" alt="" width="128" height="128"></a>
      <small class="d-block mb-3 text-muted">&copy; {{ 'now'| date('Y')}}</small>
    </div>
    <div class="col-6 col-md">
      <h5>Features</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Cool stuff</a></li>
        <li><a class="text-muted" href="#">Random feature</a></li>
        <li><a class="text-muted" href="#">Team feature</a></li>
        <li><a class="text-muted" href="#">Stuff for developers</a></li>
        <li><a class="text-muted" href="#">Another one</a></li>
        <li><a class="text-muted" href="#">Last time</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Nous contacter</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Rufisque cite tacko</a></li>
        <li><a class="text-muted" href="#">77 008 67 55</a></li>
        <li><a class="text-muted" href="#">77 008 67 55</a></li>
        <li><a class="text-muted" href="#">77 008 67 55</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>A propos</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Qui sommes-nous ?</a></li>
        <li><a class="text-muted" href="#"></a></li>
        <li><a class="text-muted" href="#">Les termes et politiques de confidentialite</a></li>
      </ul>
    </div>
  </div>
</footer>
