{% extends 'base.html.twig' %}

{% block body %}
<div class="container" style="margin-top:100px">
  <h1 class="text-center display-4">403</h1>
  <p class="text-center">
     Acces interdit!!!
     
  </p>
</div>

{% endblock %}
